<ion-header>
  <ion-toolbar class="py-5" *ngIf="user">
    <ion-icon name="power-outline" class="text-[20px] mt-3 ml-3 font-bold" (click)="logout()"></ion-icon>
    <div class="mt-2 font-bold text-[#E6007E] mr-3" slot="end">{{user.nom}}</div>
  </ion-toolbar>
</ion-header>
<ion-content [fullscreen]="true" class="pb-5">
<div class="pb-6">
 <div routerLink="/reservation" class="mx-5 bg-white rounded-xl shadow-xl h-[200px] mt-10 border grid justify-center items-center text-center text-black cursor-pointer">
   <div>
    <ion-icon name="card-outline" class="text-[40px]"></ion-icon>
    <h3 class="">Réservations</h3>
   </div>
 </div>

 <div class="mx-5 bg-white rounded-xl shadow-xl h-[200px] mt-5 border grid justify-center items-center text-center text-black cursor-pointer">
  <div>
   <ion-icon name="lock-closed-outline" class="text-[40px]"></ion-icon>
   <h3 class="">Confidentialités</h3>
  </div>
</div>

<div class="mx-5 bg-white rounded-xl shadow-xl h-[200px] mt-5 border grid justify-center items-center text-center text-black cursor-pointer">
  <div>
   <ion-icon name="card-outline" class="text-[40px]"></ion-icon>
   <h3 class="">FAQ</h3>
  </div>
</div>
</div>
</ion-content>
