<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-icon name="arrow-back" slot="start" class="text-[23px] ml-2" routerLink="/register"></ion-icon>
    <ion-title class="text-sm">conditions d'utilisation</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
 <div class="grid  mx-5 pb-5">
   <h4 class="font-bold mt-5">Conditions d'utilisation Kimmo</h4>
   <p class="text-sm text-justify mt-2">
    Bienvenue sur Kimmo. En accédant ou en utilisant notre Application, vous acceptez de vous
    conformer et d'être lié par les présentes Conditions d'Utilisation. Si vous n'acceptez pas ces
    Conditions, veuillez ne pas utiliser l'Application.
   </p>
   <h4 class="font-bold mt-5">1. Présentation de l'Application</h4>
   <p class="text-sm text-justify mt-2">
    Kimmo est une plateforme de location et vente des immobiliers qui permet aux utilisateurs de consulter
    des annonces de propriétés disponibles à la location et de contacter les entreprises qui publient ces offres.    
   </p>

   <h4 class="font-bold mt-5">2. Acceptation des Conditions</h4>
   <p class="text-sm text-justify mt-2">
    En utilisant l'Application, vous reconnaissez avoir lu, compris et accepté ces Conditions, ainsi
    que notre [Politique de Confidentialité] (lien vers la politique de confidentialité).     
   </p>

   <h4 class="font-bold mt-5">3. Éligibilité</h4>
   <p class="text-sm text-justify mt-2">
    Vous devez avoir au moins 18 ans pour utiliser l'Application. En utilisant l'Application, vous
    déclarez et garantissez que vous avez l'âge requis et que vous avez le droit, la capacité et la
    volonté d’accepter ces Conditions. 
   </p>

   <h4 class="font-bold mt-5">4. Création de Compte</h4>
   <h6 class="font-bold mt-3">4.1 Inscription</h6>
   <p class="text-sm text-justify mt-2">
    Pour accéder à certaines fonctionnalités de l'Application, vous devrez créer un compte en
    fournissant des informations exactes, complètes et à jour. Vous êtes responsable de la
    confidentialité de vos identifiants de connexion et de toutes les activités effectuées sous
    votre compte.
   </p>

   <h6 class="font-bold mt-3">4.2 Sécurité du Compte</h6>
   <p class="text-sm text-justify mt-2">
    Vous vous engagez à notifier immédiatement Kimmo de toute utilisation non autorisée de
    votre compte ou de toute autre violation de sécurité. Kimmo ne pourra être tenu
    responsable de toute perte ou dommage résultant de votre manquement à sécuriser votre
    compte.
   </p>
 </div>
</ion-content>
